@{
    ViewData["Title"] = "Index";
}

<h1>GraphQL Web Service Example</h1>
<h2>Use of the Web Service</h2>
<h3>GraphQL Playground</h3>
<p>Go to the interactive GraphQL IDE: <a href="~/ui/playground" target="_blank">GraphQL Playground</a></p>
<h3>Other GraphQL Clients</h3>
<p>To use a client of your choice, set the endpoint to: <pre>@(Context.Request.Scheme + "://" + Context.Request.Host.Value + Url.Content("~/graphql"))</pre></p>
<h2>Examples</h2>
<h3>Queries</h3>
<pre>
query query1 {
  employee {
    id
    firstName
    lastName
    age
    gender
    isActive
  }
}
</pre>
<pre>
query query2 {
  employee(isActive: true, age: 24) {
    id
    firstName
    lastName
    age
    gender
    isActive
  }
}

</pre>
<h3>Mutations</h3>
<pre>
mutation createEmployeeExample {
  createEmployee(firstName: "Donald", lastName: "Duck", age: 11, gender: "male", isActive: true) {
    id
    firstName
    lastName
    age
    gender
    isActive
  }
}
</pre>
<pre>
mutation setActiveExample {
  setActive(id: 10, isActive: true) {
    id
    firstName
    lastName
    age
    gender
    isActive
  }    
}
</pre>